mat-sidenav-container{
  background-color: #efefef;
  min-height: 100vh;
}

mat-sidenav{
  max-width: 320px;
  box-shadow: 3px 0 6px rgba( 0, 0, 0, .24 );
  width: 220px;
}

.search{
  position: absolute;
  right: 110px;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 20%;
  position: absolute;
  right: 220px;
  font-size: 18px;
  color: white;
}

.search-full-width {
  width: 100%;
}

.sort{
  position: absolute;
  right: 10px;
}

.top_logo{
  display: flex;
}

.top_user{
  display: flex;
  background-color: #1EE494;
  color: black;
  padding: 1.7em 0.5em 0.5em 0.5em;
  height: 6em;
  box-shadow: 0px 3px 13px -3px rgba( 0, 0, 0, 0.75 );
}

.top_user img{
  border: 2px solid white;
  border-radius: 40px;
  height: 70px;
  width: 70px;
  margin-bottom: 0.7em;
}

.top_user mat-toolbar-row{
  display: block;
  font-size: 14px;
  text-align: center;
}

.top_user mat-toolbar-row span{
  display: flex;
  width: 100%;
  height: 1.4em;
  align-items: center;
}

.top_user mat-toolbar-row span:last-child{
  font-size: 12px;
  opacity: 0.8;
}

.top_user mat-toolbar-row span:last-child mat-icon{
  margin-top: 8px;
  margin-left: -3px;
  font-size: 14px;
}

.vertical-menu{
  margin-top: 0.7em;
}

.vertical-menu .text-muted{
  font-size: 12px;
  padding-top: 0.6em;
  padding-bottom: 0.9em;
  padding-left: 0.9em;
  color: rgba( 0, 0, 0, 0.54 );
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 0.7em;
}

.vertical-menu-item{
  color: white;
  cursor: pointer;
  display: block;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
  text-align: left;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.vertical-menu-item mat-icon{
  font-size: 18px;
}

.vertical-menu-item .icon-menu{
  font-size: 18px;
  padding-right: 0.4em;
}

.vertical-menu-item:hover{
  background-color: #1EE494;
  color: black;
}
.menu{
  position: relative;
}
.menuT{
  position: relative;
  top: -40px;
  left: 95px;
}
.menuT:hover{
  background-color: #464545;
  color: white;
}
.user{
  position: relative;
  top: -55px;
  left: 80px;
}
.out .vertical-menu-item{
  position: fixed;
  bottom: 0px;
}

.navbar{
  background-color: #464545;
  border-radius: 0px;
  color: white;
}

.toogle:hover{
  background-color: #1EE494;
  color: black;
}

.logo-toogle{
  background-color: #464545;
  color: white;
  /*background-color: white;*/
}

.menu-toogle{
  background-color: #464545;
  /*background: -webkit-linear-gradient(#69d0b3, white);
  background: -o-linear-gradient(#69d0b3, white);
  background: -moz-linear-gradient(#69d0b3, white);
  background: linear-gradient(#69d0b3, white);*/
}
.requestIn{
  top: -5px;
  left: 20px;
  font-size: 17px;
}

.requestIn:hover{
  background: #464545;
  color: white;
}

.request{
  font-size: 10px;
  background: none;
  position: relative;
  top: 20px;
  left: -93px;
  color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

button:hover{
  background: #6ac57a;
}
