<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false" class="menu-toogle">

      <mat-toolbar class="top_logo logo-toogle">
        <span>
          <img alt="Logo">
        </span>
      </mat-toolbar>

      <mat-toolbar class="top_user" *ngIf="identity">

          <span>
            <img src="{{ this.icon + identity.foto }}" alt="User">
          </span>
          <mat-toolbar-row class="user">
            <span>{{ identity.name }}</span>
            <span class="user-mail">
              {{ identity.email }}
              <mat-icon color="accent" matToolTip="Email Verificado!">
                verified_user
              </mat-icon>
            </span>
          </mat-toolbar-row>

          <button mat-icon-button [matMenuTriggerFor]="menu" class="menuT">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar Perfil</span>
            </button> -->
            <button mat-menu-item (click)='logout()'>
              <mat-icon>exit_to_app</mat-icon>
              <span>Salir</span>
            </button>
          </mat-menu>
      </mat-toolbar>

      <mat-toolbar class="top_user" *ngIf="!identity">
        <div>
          <span>
            <img src="http://coding.infoconex.com/Custom/Themes/Standard/src/img/logo.png" alt="User">
          </span>
          <button mat-button [routerLink]="['../login']" class="requestIn">Entrar</button>
          <a href="#" class="request" [routerLink]="['../account']">Registro</a>
          <!-- <a class="request">/</a>
          <a href="#" class="request">Recuperar</a> -->
        </div>
      </mat-toolbar>


      <div>
        <div class="vertical-menu" routerLinkActive="active">
          <a class="vertical-menu-item" [routerLink]="['../home']">
            <mat-icon>home</mat-icon>
            Inicio
          </a>
        </div>

        <div class="vertical-menu" routerLinkActive="active">
          <a class="vertical-menu-item" [routerLink]="['../listcategory']">
            <mat-icon>format_list_bulleted</mat-icon>
            Categorias
          </a>
        </div>



        <div *ngIf="identity">

          <div class="vertical-menu" routerLinkActive="active" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a class="vertical-menu-item" [routerLink]="['../addcategory']">
              <mat-icon>add</mat-icon>
              Crear Categoria
            </a>
          </div>

          <div class="vertical-menu" routerLinkActive="active" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a class="vertical-menu-item" [routerLink]="['../request']">
              <mat-icon>inbox</mat-icon>
              Solicitudes
            </a>
          </div>


          <!-- <div class="vertical-menu" routerLinkActive="active" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a class="vertical-menu-item" [routerLink]="['../addspace']">
              <mat-icon>add_location</mat-icon>
              Crear Espacios
            </a>
          </div> -->

          <div class="vertical-menu" routerLinkActive="active" *ngIf="identity.role == 'ROLE_USER'">
            <a class="vertical-menu-item" [routerLink]="['../addevents']">
              <mat-icon>event</mat-icon>
              Crear Eventos
            </a>
          </div>

          <div class="vertical-menu" routerLinkActive="active" *ngIf="identity.role == 'ROLE_USER'">
            <a class="vertical-menu-item" [routerLink]="['../listevents']">
              <mat-icon>event_available</mat-icon>
              Listar Eventos
            </a>
          </div>

        </div>

      </div>


    </mat-sidenav>

    <nav class="navbar ">
      <button class="btn btn-outline-success my-2 my-sm-0 toogle" mat-button (click)="sidenav.toggle()">
        <mat-icon class="mat-icon">menu</mat-icon>
      </button>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" mat-button>
        <button class="btn btn-outline-success my-2 my-sm-0 toogle" type="submit" mat-button><mat-icon class="mat-icon">search</mat-icon></button>
      </form>
    </nav>

    <div class="" style="overflow-y: scroll;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>
