mat-sidenav-container{
  background-color: #efefef;
  min-height: 100vh;
}

mat-sidenav{
  max-width: 320px;
  box-shadow: 3px 0 6px rgba( 0, 0, 0, .24 );
}

.search{
  position: absolute;
  right: 110px;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 20%;
  position: absolute;
  right: 220px;
  font-size: 18px;
  color: white;
}

.search-full-width {
  width: 100%;
}

.sort{
  position: absolute;
  right: 10px;
}

.top_logo{
  display: flex;
}

.top_user{
  display: flex;
  background-color: white;
  color: black;
  padding: 1.7em 0.5em 0.5em 0.5em;
  height: 7em;
  box-shadow: 0px 3px 13px -3px rgba( 0, 0, 0, 0.75 );
}

.top_user img{
  border: 2px solid white;
  border-radius: 40px;
  height: 70px;
  margin-bottom: 0.7em;
}

.top_user mat-toolbar-row{
  display: block;
  font-size: 14px;
  text-align: center;
}

.top_user mat-toolbar-row span{
  display: flex;
  width: 100%;
  height: 1.4em;
  align-items: center;
}

.top_user mat-toolbar-row span:last-child{
  font-size: 12px;
  opacity: 0.8;
}

.top_user mat-toolbar-row span:last-child mat-icon{
  margin-top: 8px;
  margin-left: -3px;
  font-size: 14px;
}

.divier-menu{
  fill: #737373;
  display: block;
  border-top: 1px solid;
  margin: 0;
  border-top-color: rgba( 0, 0, 0, 0.12 );
}

.vertical-menu{
  margin-top: 0.7em;
}

.vertical-menu .text-muted{
  font-size: 12px;
  padding-top: 0.6em;
  padding-bottom: 0.9em;
  padding-left: 0.9em;
  color: rgba( 0, 0, 0, 0.54 );
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 0.7em;
}

.vertical-menu-item{
  color: #737373;
  cursor: pointer;
  display: block;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.6em;
  text-align: left;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.vertical-menu-item mat-icon{
  font-size: 18px;
}

.vertical-menu-item .icon-menu{
  font-size: 18px;
  padding-right: 0.4em;
}

.vertical-menu-item:hover{
  background-color: #d6d6d6;
}

.out .vertical-menu-item{
  position: absolute;
  bottom: 0px;
}
