<div id="enter">

  <h1>Crear categoria</h1>

  <hr>

  <form class="login-form" eventForm="ngForm">
    <mat-form-field class="login-full-width">
      <label>Nombre</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>descripción</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Imagen</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <button type="submit" mat-raised-button>Registrar</button>

  </form>

</div>
