<div class="wrapper">
  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
    </div>

    <div class="card__content card__padding">
      <div class="card__meta">
        <a href="#">Web Design</a>
        <time>17th March</time>
      </div>

      <article class="card__article">
        <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
      </article>
    </div>

    <div class="card__action">
      <div class="card__author">
        <img src="http://lorempixel.com/40/40/sports/" alt="user">
        <div class="card__author-content">
            By <a href="#">John Doe</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
