/*@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';

.cardDesing{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 320px;
  height: 450px;
}
mat-card{
  margin: 15px;
}
.inline {
  float:left;
}
.clearBoth {
  clear:both;
}
.share{
  float: right;
  position: relative;
  margin-top: -42px;

  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow:
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.center{
  display: table;
}
.body{
  display: inline-block;
  margin: auto;
}*/

.imgEvent{
  height: 220px;
}

.mat-card{
  background: #9EE6CF;
  background: -webkit-linear-gradient(#E52E33 30%, white 30%,white 40%);
  background: -o-linear-gradient(#E52E33 30%, white 30%,white 40%);
  background: -moz-linear-gradient(#E52E33 30%, white 30%,white 40%);
  background: linear-gradient(#E52E33 30%, white 30%,white 40%);
}

.card{
  font-size: 4px;
  color: white !important;
}

.cardH{
  /*height: 80px;*/
  /*color: #DAF7A6 !important;*/
}

.container{
  margin-top: 20px;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
.menuT{
  position: absolute;
  left: 85%;
  top: 7.5%;
}
