.body{
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.cardDesing{

  margin-top: 15px;
  margin-bottom: 15px;
  width: 320px;
  height: 450px;
}
mat-card{
  margin: 15px;
}
div.inline {
  float:left;
}
.clearBoth { clear:both; }
