.imgEvent{
  height: 220px;
}

.mat-card{
  background: #9EE6CF;
  background: -webkit-linear-gradient(#ff5733 30%, white 30%,white 40%);
  background: -o-linear-gradient(#ff5733 30%, white 30%,white 40%);
  background: -moz-linear-gradient(#ff5733 30%, white 30%,white 40%);
  background: linear-gradient(#ff5733 30%, white 30%,white 40%);
}

.card{
  font-size: 4px;
  color: white !important;
}

.cardH{
  /*height: 80px;*/
  /*color: #DAF7A6 !important;*/
}

.container{
  margin-top: 20px;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
.menuT{
  position: absolute;
  left: 85%;
  top: 7.5%;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  right: 150px;
}

.container-1 input#table_filter{
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#table_filter::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#table_filter:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#table_filter::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#table_filter:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: -5%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 11;
  color: #4f5b66;
}

.searchFilter {
  margin-bottom: 20px;
  width: 0%;
}
