<!-- <div class=card-columns> -->

  <!-- <div class="cardDesing">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://source.unsplash.com/random/800x600"> -->
      <!-- <i class="material-icons share">share</i> -->
      <!-- <mat-card-content>
        <h2>Titulo evento</h2>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- <br class="clearBoth" /> -->

<!-- </div> -->

<div class="container">
  <div class="card-columns">

    <div class="card" *ngFor="let item of events">
      <mat-card>
        <mat-card-header class="cardH">
          <img mat-card-avatar src="{{ this.icon + item.icon}}">
          <mat-card-title>{{ item.org }}</mat-card-title>
          <mat-card-subtitle>{{ item.tipo }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menuT" *ngIf="identity">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(item._id)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
        <img class="imgEvent" mat-card-image src="{{ this.img + item.image }}" (click)="descrip()">

        <mat-card-content (click)="descrip(item)">
          <h2>{{ item.name }}</h2>
          <p>{{ item.descripcion }}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
