<!-- <div class="wrapper">
  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
    </div>

    <div class="card__content card__padding">
      <div class="card__meta">
        <time>17th March</time>
      </div>

      <article class="card__article">
        <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
      </article>
    </div>

    <div class="card__action">
      <div class="card__author">
        <img src="http://lorempixel.com/40/40/sports/" alt="user">
        <div class="card__author-content">
            By <a href="#">John Doe</a>
        </div>
      </div>
    </div>

  </div>
</div> -->
<div class="body">

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#"></a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#">asd</a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#"></a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#"></a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#"></a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cardDesing inline">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nombre Organizacion</mat-card-title>
        <mat-card-subtitle>Tipo de Evento</mat-card-subtitle>
      </mat-card-header>
      <img class="map" mat-card-image src="https://source.unsplash.com/random/800x600">
      <a id="share" class="share-toggle share-icon" href="#"></a>
      <mat-card-content>
        <h1>Titulo evento</h1>
        <p>Something pretty...</p>
      </mat-card-content>
    </mat-card>
  </div>

  <br class="clearBoth" />

</div>
