<div class="body">

  <div class="box">

    <div id="enter">

      <h1>Ingresar</h1>

      <form class="login-form">
        <mat-form-field class="login-full-width">
          <input type="email" matInput placeholder="Correo" value="">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Contraseña" value="">
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button>Basic</button>
        </div>
      </form>

    </div>

  </div>

</div>
