<mat-card class="card container">
    <mat-list-item>
      <div class="parent">
      <img class="child" src="{{ this.img + evento.image }}">
    </div>
    </mat-list-item>
    <mat-card-content>
      <h2 class="nombre" align="justify" style="margin-top: 1em; margin-bottom: 1em;">
        <img align="left" hspace="20" mat-card-avatar class="icon" src="{{ this.icon + evento.icon}}">
        {{evento.name}}
      </h2>
      <h4 class="desc" align="justify">
        {{evento.descripcion}}
      </h4>
    </mat-card-content>
    <mat-card-footer>
      <p class="paraph">Fecha de Inicio : {{evento.fecha_inicio}}</p>
      <p class="paraph">Fecha de termino : {{evento.fecha_termino}}</p>
      <p align="center" style="margin-left: 5em;">
      <mat-chip-list>
      <mat-chip color="warn" selected="true">{{evento.tipo}} </mat-chip>
    </mat-chip-list>
  </p>
      <div id="map"></div>
    </mat-card-footer>
  </mat-card>
