
<div class="container">
    <br>
    <h2>Solicitar espacio</h2>
    <!-- AÑADIR DIV PARA BORDES-->

    <form>

        <div class="form-group">
          <label for="subject">Nombre de lugar</label>
          <input type="text" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="content">Mapa</label>
          <input type="text" class="form-control" required>
        </div>

        <div class="card-group">
              <button type="submit" class="btn btn-default">Solicitar espacio</button>
        </div>

    <br>
    </form>

</div>