<!--
<div class="container">
    <br>
    <h2>Nuevo evento</h2>
    <form>


      <div class="form-group">
        <label for="subject">Nombre</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Descripcion</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Fecha de inicio</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Fecha de termino</label>
        <input type="text" class="form-control" required>
      </div>


      <div class="form-group">
        <label for="content">Latitud</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Longitud</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Región</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Ciudad</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">dirección</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Nombre de organización encargada</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Fono contacto</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label for="isImportant">
            <input type="checkbox"> Activar
          </label>
        </div>
      </div>

    <div class="card-group">
          <button type="submit" class="btn btn-default">Registrar este evento</button>
    </div>

    <br>
    </form>

</div> -->

<div id="enter">

  <h1>Crear Evento</h1>

  <hr>

  <form class="login-form" eventForm="ngForm">
    <mat-form-field class="login-full-width">
      <label>Nombre</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Tipo de event</label>o <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Fecha del evento</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label>Lugar</label>
      <input matInput type="text"
      [options]='option'
      (setAddress) = "getAddress($event)"
      (street_number) = 'street_number=$event'
      (street)= 'street=$event'
      (city)= 'city=$event'
      (state)='state=$event'
      (district)='district=$event'
      (country)='country=$event'
      (postal_code)='postal_code=$event'
      (lat)='lat=$event'
      (lng)='lng=$event'
      (adr_address)='adr_address=$event'
      (name)='name=$event'
      (place_id)='place_id=$event'
      (types)='types=$event'
      (url)='url=$event'
      (utc_offset)='utc_offset=$event'
      (vicinity)='vicinity=$event'
      (photos)='photos=$event'
      (airport)='airport=$event'
      (CountryCodes)='CountryCodes=$event'
      id="autocomplete"
      ng2-google-place-autocomplete/>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Telefono</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Descripción</label> <textarea matInput></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button>Entrar</button>

  </form>

</div>
