<div id="enter">

  <h1>Crear Evento</h1>

  <hr>

  <form class="event-form" eventForm="ngForm">
    <mat-form-field class="event-full-width">
      <label>Nombre</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="event-full-width">
      <label>Tipo de evento</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="event-full-width">
      <label>Fecha del evento</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="event-full-width">
      <label>Nombre del Lugar</label> <input type="text" matInput placeholder="" value="" >
      <i class="material-icons" matTooltip="Tooltip!">info</i>
    </mat-form-field>

    <mat-form-field class="event-full-width">
      <label>Lugar</label>
      <input matInput autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
    </mat-form-field>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="placeMarker($event,infoWindow)">
      <agm-marker [latitude]="latitudeMark" [longitude]="longitudeMark"></agm-marker>
      <agm-data-layer #infoWindow></agm-data-layer>
    </agm-map>

    <mat-form-field class="event-full-width">
      <label>Telefono</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="event-full-width">
      <label>Descripción</label> <textarea matInput></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button>Entrar</button>

  </form>

</div>
