
<div id="enter">

  <h1>Crear Espacio</h1>

  <hr>

  <form class="login-form" eventForm="ngForm">
    <mat-form-field class="login-full-width">
      <label>Nombre</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>dirección</label><input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Fecha de inicio</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Fecha de termino</label> <input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label>Lugar</label>
      <input matInput autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">
    </mat-form-field>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapClick)="placeMarker($event,infoWindow)">
      <agm-marker [latitude]="latitudeMark" [longitude]="longitudeMark"></agm-marker>
      <agm-info-window #infoWindow></agm-info-window>
    </agm-map>

    <mat-form-field class="login-full-width">
      <label>dirección</label><input type="text" matInput placeholder="" value="" >
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Nombre de organización encargada</label> <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <label>Fono contacto</label> <textarea matInput></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button>Registrar</button>

  </form>

</div>
