<div id="enter">

  <h1>Lista de Eventos Creados</h1>

  <table class="table table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Organizacion</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Fecha Termino</th>
        <th scope="col">Tipo</th>
        <th scope="col">Telefono</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data">
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.org }}</td>
        <td>{{ item.ubicacion.nombre }}</td>
        <td>{{ item.fecha_inicio }}</td>
        <td>{{ item.fecha_termino }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.fono }}</td>
        <td><i class="material-icons" (click)="edit( item )">edit</i><i class="material-icons" (click)="delete( item )">delete</i></td>
      </tr>
    </tbody>
  </table>

</div>
